.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  background-color: rgb(122, 122, 122);
  grid-column: 1 / span 3;
  grid-row: 1;
}
#status_box {
  vertical-align: middle;
}

#status_box p {
  vertical-align: middle;
  width: 10rem;
  height: 4rem;
  color: white;
  position: relative;
}
#status_box p::before {
  margin-right: 0.2rem;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: red;
}
