.header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	height: 5rem;
	width: 100%;
	background-color: rgb(122, 122, 122);
	grid-column: 1 / span 3;
	grid-row: 1;
	vertical-align: middle;
}

.bespoke-marp-presenter-container iframe.bespoke-marp-presenter-next .header {
	display: none !important;
}

.header > a > img {
	max-height: 100%;
	max-width: 5rem;
}

.header > h1 {
	margin: 0;
}

#status_box {
	padding: 0 1rem;
	align-self: center;
}

#status_box p {
	vertical-align: middle;
	max-width: 10rem;
	line-height: 4rem;
	color: var(--color-white);
	position: relative;
}

#status_box p::before {
	margin-right: 0.2rem;
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	background-color: red;
}

@media screen and (max-width: 600px) {
	.header > h1 {
		font-size: medium;
		align-self: center;
	}
	.header > a > img {
		max-width: 4rem;
	}
}
