.notes {
  overflow: auto;
  background: #ccc;
  color: #2f4f4f;
  font-size: medium;
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.note {
  display: grid;
  grid-template-rows: 3rem minmax(5rem, auto) 2rem;
  background: pink;
  position: relative;
  border: 1px solid #f7f7f7;
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1rem;
}

.note > .note-header {
  padding-bottom: 1rem;
}

.notes .note-content {
  vertical-align: middle;
  position: relative;
}

.notes .note-content > li {
  position: relative;
  max-width: 10rem;
}

.notes .note-content > li audio {
  max-width: 100%;
}

/* .notes .note-content > li::marker {
  font-size: 500%;
  color: lightsalmon;
} */

.btn-download {
  grid-row: 3;
  grid-column: 2;
  box-sizing: border-box;
  border-radius: 0.4rem;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  background: #e41c4e;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  opacity: 0;
  transition: all 1s ease;
}

.btn-recording {
  background-color: #e41c4e3b;
  columns: #ccc;
}

.note-footer {
  display: block;
  max-width: 100%;
  position: relative;
}

.note-footer > audio {
  width: 100%;
  max-width: 100%;
  height: 2rem;
}