{
	"printWidth": 200,
	"endOfLine": "crlf",
	"tabWidth": 2,
	"singleQuote": true,
	"arrowParens": "avoid",
	"embeddedLanguageFormatting": "auto",
	"quoteProps": "as-needed",
	"semi": true,
	"trailingComma": "es5",
	"useTabs": true
}
