@import url('./theme.css');
@import url('./parts/header.css');
@import url('./parts/dialog.css');
@import url('./parts/notes.css');
@import url('./parts/layout.css');

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-weight: 500;
  background-color: var(--bg-color);
}