@import url('./parts/header.css');
@import url('./parts/dialog.css');
@import url('./parts/layout.css');
@import url('./parts/notes.css');

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-weight: 500;
  background-color: #d8d8d8;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: 1fr 10fr 1fr;
  position: relative;
}

.container {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  height: 100%;
  background: #ccc;
}

@media screen and (max-width: 600px) {
  #root {
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 6fr 5fr;
    gap: 0;
  }
  .container {
    grid-row: 2;
    grid-column: span 3;
  }
  .notes {
    grid-row: 3;
    grid-column: span 3;
  }

  .btn-download {
    grid-row: 4;
    grid-column: 1;
  }
}
